body{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif;}
section{margin-bottom: 100px;}
img{max-width: 100%;}
.col-6{width: 40%;margin-left: 5%; margin-right: 5%;}
.orange-color{color: orange;}
.intro-area, .dream-area, .experience-card{display: flex;}
.col-6 h1{font-size: 60px;}

.intro-area .col-6{ padding-left: 20px;}
.btn-primary{ 
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    background-image: linear-gradient(#f39c12, #f1c40f);
    text-transform: uppercase;
}

.intro-area{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.experience-area-title{
    margin-left: 5%;
    text-transform: uppercase;
   
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    border-left: 7px solid;
}

.single-card-tomato{
    border-image: linear-gradient(180deg, lightsalmon, rgb(82, 146, 66));
    border-image-slice: 1;
    border-left: 7px solid;
    padding-left: 10px;;
    box-shadow: 10px 5px 40px black;
}
.single-card-blue{
    border-image: linear-gradient(180deg, lightsalmon, rgb(28, 71, 163));
    border-image-slice: 1;
    border-left: 7px solid;
    padding-left: 10px;
    box-shadow: 10px 5px 40px black;

}
footer p{
    text-align: center;
}